{% extends "PizzaTemplates/Base.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<h3>Login</h3>
<form action="{% url 'loginverify' %}" method="post">
  {% csrf_token %}
  <input type="text" name="username" placeholder="username" autocomplete="off"><br>
  <input type="password" name="password" placeholder="password" autocomplete="off"><br>
  <input type="submit" value="login"><br>
</form>
<a href="{% url 'register' %}">Click here if you aren't registered</a><br>
<a href="{% url 'index' %}">Home</a><br>

{% endblock %}
